.footer {
  color: color(dark-tan);
  text-transform: uppercase;
  width: 100%;
}

.footer__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__share__label {
  display: inline-block;
  vertical-align: middle;
  margin:0 rem(5);
  letter-spacing: rem(2);
  font-weight:bolder;
}
