.nav {
  background: color(dark-gray);
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  @include smooth;
  border: 2px solid color(dark-tan);
  color: color(dark-tan);
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: rem(9) 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  width: rem(95);

  &:hover {
    filter: brightness(0) invert(1);
  }
}

.nav__social {
  transition: 0.2s;

  &:hover {
    filter: brightness(0) invert(1);
  }

  &.-facebook {
    width: rem(15);
  }

  &.-twitter {
    margin-left: rem(10);
    width: rem(25);
  }

  &.-knobcreek {
    width: rem(80);
  }
}
