.nav {
  background: color(dark-gray);
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__list__item {
  flex-basis: percentage(1/3);

  &:nth-child(2) {
    text-align: center;
  }

  &:nth-child(3) {
    text-align: right;
  }
}

.nav__logo {
  border: 2px solid color(dark-tan);
  color: color(dark-tan);
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: rem(9) 0;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.25s ease-in-out;
  width: rem(95);

  &:hover {
    filter: brightness(0) invert(1);
  }
}

.nav__social {
  transition: filter 0.25s ease-in-out;

  &:hover {
    filter: brightness(0) invert(1);
  }

  &.-facebook {
    width: rem(15);
  }

  &.-twitter {
    margin-left: rem(10);
    width: rem(25);
  }

  &.-knobcreek {
    width: rem(60);

    @include breakpoint('medium') {
      width: rem(80);
    }
  }
}
