.secondary-hero {
  width: 100%;
  height: 100%;
  padding-bottom: rem(50);
  display: flex;
}

.hero__section {
  margin: -125px rem(10) 0 rem(10);
  transition: 0.25s ease-in-out;

  @include breakpoint("small") {
    margin: -200px rem(20) 0 rem(20);
  }

  @include breakpoint("large") {
    margin: -300px rem(0) 0 rem(0);
  }

  &:hover {
    .hero__link {
      color: #932525;
    }
  }
}

.hero__image {
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;

  @include breakpoint("medium") {
    display: inline-block;
    width: 49.7%;
  }
  @include breakpoint("large") {
    max-height: 600px;
  }
}

.hero__content {
  width: 100%;
  vertical-align: top;
  background-color: white;
  line-height: 1.4;
  padding: rem(25) rem(20);

  @include breakpoint("medium") {
    display: inline-block;
    width: 49.7%;
    height: 400px;
    padding: rem(50) rem(45);
  }

  @include breakpoint("large") {
    height: 600px;
    padding: rem(150) rem(50);
  }
}

.hero__title {
  @include breakpoint("large") {
    padding: rem(20);
  }
}

.hero__link {
  color: color(deep-red);
  padding: rem(10) 0;
}
