.articles {
  .main-heading {
    padding-top: 2rem;
  }

  .card__content {
    background: color(white-tan);
  }
}

.article__list {
  margin-left: -1rem;
  margin-right: -1rem;

  @include breakpoint(small) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: stretch;
  }
}

.article__list__item {
  height: inherit;
  margin: 2rem 1rem;
  overflow: hidden;

  @include breakpoint(small) {
    margin: 1rem;
    flex-basis: calc(50% - 2rem);
  }

  @include breakpoint(medium) {
    flex-basis: calc(33% - 2rem);
  }

  &:hover {
    .card__image {
      filter: brightness(0.8);
    }

    .card__content {
      background-color: color(dark-gray);
      color: white;
    }

    .circle-icon {
      background: color(dark-gray);
      transform: translateY(-75px);
    }
  }
}
