.bg-light-tan {
  background-color: color(white-tan);
}

.bg-dark-tan {
  background-color: color(dark-tan);
}

.bg-red {
  background-color: color(deep-red);
}

.bg-dark-gray {
  background-color: color(dark-gray);
}