.social-link {
  margin: 0 rem(5);
  vertical-align: middle;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }

  &.-facebook {
    width: rem(14);
  }

  &.-twitter {
    width: rem(24);
    margin-top: rem(2);
  }

  &.-knobcreek {
    width: rem(50);
  }
}
