header {
  padding: rem(5);
}

.sticky-container {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: rem(75);
  z-index: 5;

  .knob-logo {
    border: solid rem(10) transparent;
    height: rem(75);
    width: rem(75);
  }
}

nav a svg {
  height: rem(25);
  margin-top: rem(23);
  width: rem(25);
  fill: #b5a484;
  transition: fill 0.2s ease-in-out;

  &:hover {
    fill: white;
  }
}

main {
  background-image: url("../images/splash/bourbon-campfire.jpg");
  background-position: 50% 28%;
  background-repeat: no-repeat;
  background-size: 380%;
  height: 100%;
  max-width: 1440px;
  position: relative;
  width: 100%;

  .main-display {
    @include smooth;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 100%;
    letter-spacing: rem(0.5);
    line-height: rem(25);
    padding: rem(35) rem(10) 0 rem(10);
    position: absolute;
    width: 100%;

    p {
      @include opensanslite;

      padding: rem(2) rem(7) 0 rem(7);
      margin: 0 auto;
    }
  }
}

.landing-header {
  letter-spacing: rem(1);
  line-height: rem(40);
}

.landing-image {
  width: 100%;
  display: grid;
  grid-template: repeat(2, rem(328)) / repeat(3, 1fr);

  img {
    transform: scale(0.75);
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    padding: rem(50) 0 0 rem(10);
    z-index: 1;
  }
}

section {
  width: 100%;
  height: 100%;
  max-height: 82vh;
}

aside {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  img {
    z-index: 2;
    width: 82%;
    height: 50%;
    max-height: rem(245);
    position: relative;
    top: rem(-45);
  }
}

.__card {
  h2 {
    line-height: rem(30);
    padding: 0 rem(30) rem(5) rem(30);
  }

  p {
    line-height: rem(25);
    padding: 0 rem(10) rem(12) rem(10);
  }

  h5 {
    letter-spacing: rem(2);
    font-weight: bolder;
    padding-bottom: rem(5);
  }

  a {
    color: color(deep-red);
    font-weight: bolder;
  }

  img {
    width: rem(25);
    height: rem(25);
    position: relative;
    top: rem(-10);
  }
}

article {
  background-color: white;
  h3 {
    padding: rem(30);
  }
  p {
    padding: rem(30);
  }
}

#article-template {
  height: 100vh;
  font-size: 50px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  color: color(dark-tan);
  width: 100%;
  height: 100%;

  h5 {
    display: inline-block;
    padding: rem(20) 0 0 rem(5);
    letter-spacing: rem(2);
  }

  a svg {
    height: rem(17);
    width: rem(18);
    margin-left: rem(3);
    position: relative;
    top: rem(3);
    fill: #b5a484;
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: white;
    }
  }

  img {
    padding-bottom: rem(7);
    margin-right: rem(5);
    width: rem(60);
    height: rem(60);
  }
}
