//Variables
$base-font-size: 14px;
$title-font-size: 35px;
$heading-font-size: 19px;
$subheading-font-size: 18px;
$subheading2-font-size: 17px;
$subpara-font-size: 12px;

// Imports
@mixin font-face($name, $filename, $style: normal, $weight: normal) {
  @font-face {
    font-family: #{$name};
    font-style: $style;
    font-weight: $weight;
    src: url("../fonts/#{$filename}.ttf");
  }
}

@include font-face('Open Sans', 'OpenSans-Regular', 'normal', 400);
@include font-face('Open Sans', 'OpenSans-SemiBold', 'normal', 600);

// Mixins
@mixin OpenSans {
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  font-weight: 400;
}

@mixin color-white {
  @include smooth;
  color: #fff;
}
