//Variables
$base-font-size: 14px;
$title-font-size: 35px;
$heading-font-size: 19px;
$subheading-font-size: 18px;
$subheading2-font-size: 17px;
$subpara-font-size: 12px;

// Imports
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

// Mixins
@mixin opensans {
  font-family: OpenSans, Arial, Verdana, sans-serif;
}

@mixin color-white {
  @include smooth;
  color: #fff;
}
