body {
  @include OpenSans;
  @include smooth;
  font-size: 14px;

  @include breakpoint("small") {
    font-size: 15px;
  }

  @include breakpoint("medium") {
    font-size: 16px;
  }
}

p {
  line-height: 1.9;
}

.main-title {
  font-size: 35px;

  @include breakpoint("medium") {
    font-size: 60px;
  }

  @include breakpoint("large") {
    font-size: 70px;
  }
}

.main-heading {
  font-size: 19px;

  @include breakpoint("small") {
    font-size: 35px;
  }
}

.subheading {
  font-size: 18px;
  line-height: 1.4;

  @include breakpoint("small") {
    font-size: 21px;
  }

  @include breakpoint("medium") {
    font-size: 28px;
  }
}

.subheading-2 {
  font-size: 17px;
  line-height: 1.4;

  @include breakpoint("small") {
    font-size: 18px;
  }

  @include breakpoint("medium") {
    font-size: 24px;
  }
}

.font-size-xs {
  font-size: 12px;

  @include breakpoint(small) {
    font-size: 13px;
  }
}

.centered-text {
  text-align: center;
}

.emphasis-text {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.red-link {
  color: color(deep-red);
  transition: 0.2s;

  &:hover {
    color: darken(color(deep-red), 20%)
  }
}
