<footer class="footer font-size-xs bg-dark-gray">
    <div class="wrapper">
        <ul class="footer__list">
            <li>
                <h5 class="footer__share__label">Share on</h5>
                <a href="#facebook">
                    <img src="{{ facebookImg }}" alt="Facebook" class="social-link -facebook">
                </a>
                <a href="#twitter">
                    <img src="{{ twitterImg }}" alt="Twitter" class="social-link -twitter">
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="{{ knobImg }}" alt="KnobCreek Logo" class="social-link -knobcreek">
                </a>
            </li>
        </ul>
    </div>
</footer>