<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <h1 class="header__content__title main-title">Maple Never Tasted So Good</h1>
            <p>
            We blend this bourbon with natural smoked maple flavors for a unique, smoky sweetness. Full bodied,
            inviting maple notes that lift to smoke and are complemented with rich vanilla caramel. Smoked hickory and
            maple wood, with hints of earthy grains.
            </p>
        </div>
        <img class="header__img" src="wp-content/themes/rh-barrel-theme/static/images/splash/bourbon-left-edit.png" alt="Knob Creek's bourbon with transparent background">
    </div>
</header>