<nav class="nav">
    <div class="wrapper">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="/">
                    <img src="{{ knobImg }}" alt="KnobCreek Logo" class="nav__social -knobcreek">
                </a>
            </li>
            <li class="nav__list__item">
                <a href="#top" class="nav__logo">
                    Logo
                </a>
            </li>
            <li class="nav__list__item">
                <ul>
                    <a href="#facebook">
                        <img src="{{ facebookImg }}" alt="Facebook" class="nav__social -facebook">
                    </a>
                    <a href="#twitter">
                        <img src="{{ twitterImg }}" alt="Twitter" class="nav__social -twitter">
                    </a>
                </ul>
            </li>
        </ul>
    </div>
</nav>